div.survey {
  display: table;
  width: 100%;
  box-sizing: border-box;

  .survey-fields-container {
    padding: 0.2em;
  }

  .survey-field {
    padding: 0.2em 0.2em 1em 0.2em;
  }

  .survey-buttons {
    border-top: 1px solid $primary-low;
    padding: 0.7em;

    .info-text {
      line-height: 2em;
    }

    :not(:first-child):not(:last-child) {
      margin-left: 1em;
    }
  }
}
