.cooked .survey {
  --star-color: orange;
  --border-radius: 4px;

  @include unselectable;
  margin: 1em 0;
  border: 1px solid var(--primary-low-mid);
  border-radius: var(--border-radius);

  // base
  ul,
  li {
    list-style: none;
    cursor: pointer;
  }

  .survey-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .survey-fields-container {
    padding: 1.5em 2.5em;
  }

  .survey-field {
    padding-bottom: 1.25em;
  }

  .field-question {
    font-size: $font-up-1;
    color: var(--primary);
    margin-bottom: 0.25em;
  }

  // single / multi select radios
  .survey-field-option {
    color: var(--primary-high);
    padding: 0.25em 0;
    word-break: break-word;

    .d-icon-far-circle-check,
    .d-icon-far-square-check {
      color: var(--tertiary);
    }
  }

  // numbers
  .survey-field-number {
    display: inline-block;
    width: 3.25em;
    padding: 0.25em 0;
    color: var(--primary-high);

    .d-icon-circle {
      color: var(--tertiary);
    }
  }

  // dropdowns
  .survey-field-dropdown {
    background: var(--secondary);
    border: 1px solid var(--primary-medium);
    border-radius: var(--border-radius);
    min-width: 150px;
    padding: 0.25em;
  }

  // textarea
  .field-textarea {
    textarea {
      border: 1px solid var(--primary-medium);
      border-radius: var(--border-radius);
      width: 100%;
      min-height: 100px;
      box-sizing: border-box;
    }
  }

  // star rating
  .field-star {
    .star-rating-input {
      display: none;
    }

    .survey-field-star {
      display: inline-flex;
    }

    .d-icon-star {
      cursor: pointer;
      color: var(--star-color);
      font-size: $font-up-3;
    }

    .star-rating-input:checked ~ .star-rating-label .d-icon-star {
      color: var(--primary-medium);
    }

    .survey-field-star:hover .star-rating-label .d-icon-star {
      color: var(--star-color);
    }

    .star-rating-input:hover ~ .star-rating-label .d-icon-star {
      color: var(--primary-medium);
    }
  }

  // thumbs up / downs
  .field-thumbs {
    .thumbs-rating-input {
      display: none;
    }

    .survey-field-thumbs {
      display: inline-flex;
    }

    .thumbs-icon {
      cursor: pointer;
      color: var(--primary-medium);
      border: 1px solid var(--primary-medium);
      border-radius: var(--border-radius);
      font-size: $font-up-3;
      padding: 0.25em 0.75em;
      margin: 0.25em 0.25em 0 0;
    }

    .thumbs-rating-label:hover .thumbs-icon,
    .thumbs-rating-input:checked + label .thumbs-icon {
      color: var(--secondary);
      background: var(--tertiary);
      border-color: var(--tertiary);
    }
  }

  // bottom submit panel
  .survey-buttons {
    font-size: $font-up-2;
    display: flex;
    justify-content: center;
    padding: 1em 0;

    .submit-response {
      &:disabled {
        background: var(--tertiary);
        color: var(--secondary);
      }
    }
  }

  // submitted message
  .survey-submitted {
    color: var(--primary-high);
    display: inline-flex;
    align-items: center;
    font-size: $font-up-1;
    padding: 0.25em 0.5em;

    .d-icon-far-circle-check {
      margin-right: 0.25em;
      color: var(--success);
    }
  }
}

// composer preview
.d-editor-preview div[data-survey-wrapper] {
  padding-top: 5px;
}

.d-editor-preview .survey {
  border: 1px solid var(--primary-low-mid);
  border-radius: var(--border-radius);
  font-size: 0;
  height: 150px;
  &:before {
    opacity: 0.6;
    content: svg-uri(
      '<svg xmlns="http://www.w3.org/2000/svg" width="96px" height="96px" viewBox="0 0 448 512"><path fill="black" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM160 368c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16V240c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v128zm96 0c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16V144c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v224zm96 0c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-64c0-8.84 7.16-16 16-16h32c8.84 0 16 7.16 16 16v64z" class=""></path></svg>'
    );
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
