div.survey {
  margin: 1em 0;
  border: 1px solid $primary-low;
  padding: 0.5em;

  @include unselectable;

  .field-question {
    font-size: $font-up-2;
    padding: 0 0.2em;
    color: $primary-medium;
  }

  ul,
  li {
    list-style: none;
    cursor: pointer;
    font-size: $font-up-1;
  }

  li[data-survey-option-id] {
    color: $primary;
    padding: 0.3em 0.6em;
    word-break: break-word;
  }

  li.survey-field-number {
    display: inline-block;
    width: 3.25em;
    padding: 0.3em 0.2em;
  }

  .survey-buttons {
    .info-text {
      margin: 0.25em 0;
      color: $primary-medium;
    }
    .info-text + .info-text,
    button + .info-text {
      margin-left: 0.5em;
    }
  }

  .survey-submitted {
    font-size: $font-up-2;
    padding: 0 0.2em;
    color: $primary-medium;
  }
}

